
div.menu
{
  background-color: #404040;
  color: FFFFFF;
  font: Helvetica;
  font-weight: bold; 
  border: solid #888 2px;
  float: left;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.5em;

}

div.menu a
{
  color: FFFFFF;
  background-color: #404040;
  display: block;
  text-decoration: none;
}

div.menu a:visited, a:hover, div.menu a.at
{
  background-color: #3c689f;
  color: FFFFFF;
}

div.footer
{
  border-top: solid white 1px;
  background-color: #3c689f;
  color: FFFFFF;
  font-weight: bold;
  clear: both;
  text-align: right;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;

}


body {
  background-color: #404040;
}

.page {
  margin-left: 2em;
  margin-right: 2em;
  color: FFFFFF;
  background-color: #404040;
  border-radius: 0.5em;
}

div.header {
  padding: 0.5em;
  background-color: #3c689f;
  color: FFFFFF;
  font-weight: bold;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

.notes
{
  border: solid #fbfde0 1px;
  border-radius: 0.5em;
  background-color: #ff7e27;
  color: #fbfde0;
  float: right;
  width: 20em;
  margin: 0.5em;
  padding: 0.5em;
}

div.header h1 {
  font-size: 175%;
}

.login,.logout
{
  border: solid #fbfde0 1px;
  border-radius: 0.5em;
  background-color: #404040;
  color: white;
  margin: 0em;
  padding: 0.125em;
  text-align: right;
}

.login td
{
  padding: 0.125em;
}

table.manage
{
  border-collapse:collapse;
}

table.manage, table.manage > tbody > tr > th, table.manage > tbody > tr > td
{
  border: solid #fbfde0 1px;
  border-radius: 0.5em;
  vertical-align: top;
  padding: 0.5em;
}

table.manage > tbody > tr > th
{
  font-weight: bold;
}

.manage .group
{
  text-align: right;
  vertical-align: top;
}

.manage .user
{
  text-align: left;
  vertical-align: top;
}

.manage .user
{
  
}

.manage form
{
  border: solid #fbfde0 1px;
  border-radius: 0.5em;
  background-color: #EEE;
  margin: 0.25em;
  padding: 0.25em;
}


.button
{
  text-align: right;
}

.clear
{
 clear: both;
}

.messages th
{
  font-weight: bold;
  text-align: center;
  border: solid #fbfde0 2px;
  padding: 1em;
}

.messages td
{
  border: solid #fbfde0 1px;
  padding: 0.25em;
}